Dear School Nurse:
{{silly_word}} {{last_name}} will not be attending school today. She has come down with a case of {{illness}} and has horrible {{noun_plural}} and a {{adjective}} fever. We have made an appointment with the {{adjective2}} Dr. {{silly_word2}}, who studied for many years in {{place}} and has {{number}} degrees in pediatrics. He will send you all the information you need. Thank you!
Sincerely
Mrs. {{adjective3}}. 